@model Connected_Campus.Models.Student

@{
    ViewData["Title"] = "Profile";
}

<h2>Student Details</h2>
<div>
    <div>
        <h4>Student Name:</h4> @Model.Name
    </div>
    <div>
        <h4>Email :</h4> @Model.Email
    </div>
    <div>
        <h4>Phone :</h4> @Model.Phone
    </div>
    <div>
        <h4>EmergencyContact :</h4> @Model.EmergencyContact
    </div>
    <div>
        <h4>DateOfBirth :</h4> @Model.DateOfBirth
    </div>
    <div>
        <h4>Gender :</h4> @Model.Gender
    </div>
    <div>
        <h4>Student Address:</h4> @Model.Address
    </div>
    <div>
        <h4>DepartmentName :</h4> @Model.DepartmentName
    </div>
</div>
@*<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@