@model IEnumerable<CampusConnected.Models.Teacher>

@{
    ViewData["Title"] = "Teacher Registration";
}

<h1 class="text-center text-white bg-dark p-3 rounded">Teacher Registration Form</h1>

<p>
    <a asp-controller="Teacher" asp-action="Create" class="btn btn-primary">Create New</a>
</p>

@{
    if (TempData["insert_sucess"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!</strong> @TempData["insert_sucess"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    if (TempData["update_sucess"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!</strong> @TempData["update_sucess"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    if (TempData["delete_sucess"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!</strong> @TempData["delete_sucess"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}
<form method="get" asp-action="TeacherList">
    <p>
        <input type="search" placeholder="Enter Teacher Name or Department Name ...." value="@ViewData["GetTdetails"]" name="Tsearch" style="width:500px;" />
        <input type="submit" value="Search" class="btn btn-primary" />
        <a asp-action="TeacherList">Show All Teachers</a>
    </p>

</form>
<table class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.TeacherId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.Faculty)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.DepartmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherDepartment)
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (item, index) in Model.Select((value, i) => (value, i)))
        {
            <tr class="@(index % 2 == 0 ? "bg-light" : "bg-light")">

                <td>
                    @Html.DisplayFor(modelItem => item.TeacherId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherDepartment)
                </td>
@*                <td>
                    @Html.DisplayFor(modelItem => item.Semester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
